.row{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.card-special{
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.69));
}

.card-img-top{
    height: 100%; 
    width: 100%;
}

.bi{
    width:1rem;
}

.container-special{
    width: 100vw;
    height: 100vh;
}